body{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
    background: #f9f9f9;
}

.App{
    display: flex;
    flex-direction: column;
    padding: 0 250px;
}

.switch-mode{
    display: flex;
}

.or{
    z-index: 3;
    background: green;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
}

.container{
    margin-top: 50px;
    background-color: white;
}

.personal-container, .experience-container {
    display : grid;
    grid-template: 50px / 1fr 1fr;
    justify-items: center;
    gap: 20px;
}

.textarea-fieldset textarea{
    width: 100%;
    padding: 3px;
}

.personal-info-save-button, .textarea-fieldset{
    grid-column: span 2;   
    width: 60%;

}

.personal-container label, .experience-container label{
    display: block;
    color: #777;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
}


input, textarea{
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffffff, #e4e9e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.input-disabled{
    font-size: 25px;
    color: black;
    border: none;
    background: none;
}

.skills-container{
    display: grid;
    grid-template-columns : 300px 300px 300px;
    justify-content: center;
    row-gap: 60px;
    margin:25px 0;
}


.skills-container li{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 20px;
}

.skills-container li{
    list-style: none;
}

.job-experience-element{
    display: flex;
    justify-content: space-between;
}

.btn-delete{
    width: 40px;
    height: 40px;
    padding: 0;
    font-weight : bold;
    font-size : 30px;
    border-radius: 15%;
}

.job-experience-container{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    margin: 20px 100px;
}